/.idea
/.vs
/.vscode
/.xmake
/archive/packed
/archive/source/raw/**/*.json
/archive/*.xml
/archive/*.zip
/build
/dev
/src/App/Project.hpp
/src/App/Version.rc
/tools/wkit/layout.xml
__pycache__
CMakeLists.txt
